<%- include('./_sidebar', {section: " "}) %>
<div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content main-content">

	<h1><%= message %></h1><br/>
	<h2><%= /*error.status*/ %></h2>
	<pre><%= /*error.stack*/ %></pre>
</div>