version: '2'
services:
  flink-master:
    image: ging/flink-master:1.7.2-hadoop2.8
    hostname: flink-master
    container_name: flink-master
    environment:
      - IDM_URL=http://138.4.22.138:3000
      - CLIENT_ID=a2b33c0c-c0d1-4807-af21-39613a2ff053
      - CLIENT_SECRET=e54a7afb-507f-4655-b7bd-0f597f75b313
      - CALLBACK_URL=http://localhost/login
      - FLINK_PORT=8081
      - OAUTH_CLIENT_PORT=80
      - FLUENT_HOST=138.4.22.138
      - FLUENT_PORT=24225
#      - "constraint:node==<yourmasternode>"
    ports:
      - "8080:8080"
      - "8081:8081"
      - "80:80" # This is for the oauth client
    volumes:
      - access-token:/etc/oauth

  flink-worker:
    image: ging/flink-worker:1.7.2-hadoop2.8
    environment:
      - FLINK_MASTER_PORT_6123_TCP_ADDR=flink-master
      - FLUENT_HOST=138.4.22.138
      - FLUENT_PORT=24225
#     - FLINK_NUM_TASK_SLOTS=2
#    - "constraint:node==<yourworkernode>"
    ports:
      - "9001:9001"
    depends_on:
      - flink-master
    volumes_from:
      - flink-master

volumes:
  access-token: